server {
  listen 80 default_server;
  listen [::]:80 default_server;

  server_name _;

  return 301 https://$host$request_uri;
}

server {
  #listen 80;
  #listen [::]:80;
  listen 443 http2;
  listen [::]:443 http2;

  root /var/www/gars/frontend/build;
  index index.html;
  server_name gars.maustin.io;

  location /v1/ {
    proxy_pass http://localhost:11011;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }

  location / {
    try_files $uri /index.html; # $uri/ =404;
  }

  ssl on;
  ssl_certificate /etc/letsencrypt/live/maustin.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/maustin.io/privkey.pem;
}
